<span id="title">Julie Sebadelha</span>

<div id="menu">
  <span class="itemMenu">Home</span>
  <span class="itemMenu">Series</span>
  <span class="itemMenu">Landscape</span>
  <span class="itemMenu">Portrait</span>
  <span class="itemMenu">Contact me</span>
</div>

<div id="social_network">
  <a href="https://www.instagram.com/___julay___/" target="_blank"><img src="/assets/images/icons/instagram.png" alt="instagram" /></a>
  <a href="https://www.facebook.com/julie.sebadelha" target="_blank"><img src="/assets/images/icons/facebook.png" alt="facebook" /></a>
  <a href="https://twitter.com/JSebadelha" target="_blank"><img src="/assets/images/icons/twitter.ico" alt="twitter" /></a>
</div>
