<a routerLink="/home" id="title">Julie Sebadelha</a>

<div id="menu">
  <a routerLink="/home" routerLinkActive="itemMenuActive" class="itemMenu">Home</a>
  <a routerLink="/series" routerLinkActive="itemMenuActive" class="itemMenu">Series</a>
  <a routerLink="/landscape" routerLinkActive="itemMenuActive" class="itemMenu">Landscape</a>
  <a routerLink="/portrait" routerLinkActive="itemMenuActive" class="itemMenu">Portrait</a>
  <a routerLink="/contact" routerLinkActive="itemMenuActive" class="itemMenu">Contact me</a>
</div>

<div id="social_network">
  <a href="https://www.instagram.com/___julay___/" target="_blank"><img src="/assets/images/icons/instagram.png" alt="instagram" /></a>
  <a href="https://www.facebook.com/julie.sebadelha" target="_blank"><img src="/assets/images/icons/facebook.png" alt="facebook" /></a>
  <a href="https://twitter.com/JSebadelha" target="_blank"><img src="/assets/images/icons/twitter.ico" alt="twitter" /></a>
</div>
