<a id="title">Julie Sebadelha</a>

<div id="menu">
  <app-dropdown [link]="homeLink"></app-dropdown>
  <app-dropdown [link]="link" *ngFor="let link of links"></app-dropdown>
  <app-dropdown [link]="contactLink"></app-dropdown>
</div>

<div id="social_network">
  <a href="https://www.instagram.com/julie_sebadelha/" target="_blank">
    <img src="/assets/images/icons/instagram.png" alt="instagram"/>
  </a>
  <a href="https://www.facebook.com/JS.JAAS/" target="_blank">
    <img src="/assets/images/icons/facebook.png" alt="facebook"/>
  </a>
  <a href="https://twitter.com/JulieSebadelha" target="_blank">
    <img src="/assets/images/icons/twitter.ico" alt="twitter"/>
  </a>
</div>
