:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  #information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 20px 0;

    span {
      font-family: "orlando";
      font-size: 2.5em;
      margin-bottom: 10px;
    }

    div {
      margin: 10px 0;
      width: 60%;
      text-align: justify;
    }
  }
}
