<div id="information" *ngIf="displayInfo">
  <span>{{ title }}</span>
  <div>
    {{ context }}
  </div>
</div>

<div id="img-container" [ngClass]="{'margin': !displayInfo}">
  <div class="column" *ngFor="let columnKey of columnsKeys">
    <div *ngFor="let image of columns[columnKey]"
         class="img-legend"
         (click)="viewImage(image)"
         (mouseenter)="image.displayLegend = true"
         (mouseleave)="image.displayLegend = false">

      <img [src]="image.href" oncontextmenu="return false;" />
      <span class="legend" [ngClass]="{'show': image.displayLegend, 'hide': !image.displayLegend}">{{ image.legend }}</span>
    </div>
  </div>
</div>
