:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .content {
    width: 890px;
    height: 460px;
    display: flex;
    background-color: #5a5055;
    color: white;
    padding: 40px 20px;
    font-family: 'uiRegular';
    font-size: 13px;

    .separator {
      width: 90%;
      height: 2px;
      background-color: white;
    }

    .left_side {
      display: flex;
      flex-direction: column;
      flex: 0.3;
      justify-content: flex-end;

      div {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        margin: 5px 0;

        .title {
          font-size: 15px;
          font-family: 'uiSemiBold';
          padding-left: 15px;
          margin-bottom: 3px;
        }
      }
    }

    .right_side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 0.7;
      text-align: justify;
      font-size: 16px;

      img {
        max-width: 150px;
        float: right;
        position: relative;
        margin: 12px;
        bottom: 30px;
      }

      .separator {
        width: 50%;
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }
}
