:host {
  display: flex;
  justify-content: center;
  min-width: 1030px;
  align-items: center;
  height: 100%;

  carousel {
    width: 50vw;

    /deep/ .carousel-item{
      max-height: 93vh;
    }
  }

  img {
    width: 100%;
    max-height: 512px;
    height: auto;
    max-width: calc((100vw * 1280) / 1922);
    object-fit: cover;
  }
}
