@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* FONTS */

@font-face {
  font-family: "beloved";
  src: url("assets/fonts/beloved.ttf");
}

@font-face {
  font-family: "orlando";
  src: url("assets/fonts/orlando.ttf");
}
