/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

/* FONTS */

@font-face {
  font-family: "beloved";
  src: url("assets/fonts/beloved.ttf");
}

@font-face {
  font-family: "orlando";
  src: url("assets/fonts/orlando.ttf");
}
