@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* FONTS */

@font-face {
  font-family: "beloved";
  src: url("assets/fonts/beloved.ttf");
}

@font-face {
  font-family: "orlando";
  src: url("assets/fonts/orlando.ttf");
}

@font-face {
  font-family: "NordicaHairline";
  src: url("assets/fonts/NordicaHairline.otf");
}

#img-container {
  padding: .5vw;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .column {
    -ms-flex: auto;
    width: 30%;
    margin: .5vw;
    display: flex;
    flex-direction: column;

    .img-legend {
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        margin: .5vw;
        transition: box-shadow 0.5s;
      }

      .legend {
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0.5vw;
        color: white;
        background-color: rgba(0,0,0,0.7);
        left: 0.5vw;
        padding-left: 10px;
        opacity: 0;
        transition: opacity 0.5s;
      }

      .show {
        opacity: 1;
      }

      .hide {
        opacity: 0;
      }
    }

    .img-legend:hover {
      img {
        box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.6);
      }
    }
  }
}
